<br>

<div ng-if="$ctrl.showOptions">
  <form ng-submit="$ctrl.setSelection()">
    <p>Select the independent variable</p>
    <div class="row">
    <div class="three columns" ng-repeat="variable in $ctrl.matrixObj.elemObjArr">
      <label class="example-send-yourself-copy">
        <input type="radio" name="independentRadio" ng-value="variable.name" ng-model="$ctrl.independent">
        <span class="label-body">{{variable.name}}</span>
      </label>
    </div>
    </div>
    <br>
    <p ng-if="$ctrl.showOptions">Select the dependent variables</p>
    <div class="row">
    <div class="three columns" ng-repeat="var in $ctrl.matrixObj.elemObjArr | filter:$ctrl.dependentFilter" ng-if="$ctrl.independent">
      <label class="example-send-yourself-copy">
        <input type="checkbox" ng-model="var.dependent">
        <span class="label-body">{{var.name}}</span>
      </label>
    </div>
    </div>

    <button type="submit">Submit</button>
  </form>
</div>



<!-- table for overall regression -->
<div class="container" ng-if="$ctrl.showTable">
  <!-- <div ng-class="{highlight: $ctrl.f0 < $ctrl.f0Table}"></div> -->
  <table style="border:1px solid #E1E1E1; border-radius:10%; padding:5%;">
    <p style="text-align:center;"><u>Analysis of Variance</u></p>
    <tr>
      <th>Source Of Variation</th>
      <th>Sum of Squares</th>
      <th>Degrees of Freedom</th>
      <th>Mean Square</th>
      <th>F<sub>0</sub></th>
    </tr>
    <tr>
      <td>Regression</td>
      <td><i>SS<sub>R</sub> =</i> {{$ctrl.regressionObj.ssr}}</td>
      <td><i>k =</i> {{$ctrl.regressionObj.k}}</td>
      <td><i>MS<sub>R</sub> =</i> {{$ctrl.regressionObj.msr}}</td>
      <td><i>MS<sub>R</sub>/MS<sub>E</sub> =</i> {{$ctrl.regressionObj.f0}}</td>
    </tr>
    <tr>
      <td>Error or Residual</td>
      <td><i>SS<sub>E</sub> =</i> {{$ctrl.regressionObj.sse}}</td>
      <td><i>n-p =</i> {{$ctrl.regressionObj.n - $ctrl.regressionObj.p}}</td>
      <td><i>MS<sub>E</sub> =</i> {{$ctrl.regressionObj.mse}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Total</td>
      <td><i>SS<sub>T</sub> =</i> {{$ctrl.regressionObj.sst}}</td>
      <td><i>n-1 =</i> {{$ctrl.regressionObj.n - 1}}</td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
<br>

<br>
<!-- table for dependent variable analysis -->
<div class="container" ng-if="$ctrl.showTable">
  <p>R<sup>2</sup><sub>adj</sub> = {{$ctrl.regressionObj.r2adj}}</p>
  <table style="border:1px solid #E1E1E1; border-radius:10%; padding:5%;">
    <p style="text-align:center;"><u>Regression Analysis</u></p>
    <tr>
      <th>Variable</th>
      <th>Coefficient (&beta;)</th>
      <th>Est. Standard Error</th>
      <th>t<sub>0</sub></th>
      <th>t<sub>&alpha;/2,(n-p)</sub></th>
    </tr>
    <tr ng-repeat="var in $ctrl.varTableArr">
      <td>{{var.name}}</td>
      <td>&beta; = {{var.coeff}}</td>
      <td>se(&beta;) = {{var.seCoeff}}</td>
      <td>t<sub>0</sub> = {{var.t}}</td>
      <td>{{var.tTable}}</td>
    </tr>
  </table>
</div>
