
<p>csvmanage</p>
<br>
<a ui-sref="home">home</a>
<br>
<br>
<div class="container">
  <div ng-if="$ctrl.showUpload">
  <ng-csv-import content="csv.content"
      material
      md-button-class="md-icon-button md-raised md-accent"
      md-svg-icon="file:ic_file_upload_24px"
      header="csv.header"
      separator="csv.separator"
      result="csv.result"
      accept=".csv"></ng-csv-import>
  <br>
  <button ng-click="$ctrl.manipData()">Upload</button>
  </div>
    <!-- ng-repeat of input boxes for headerArr -->
  <div ng-if="$ctrl.showOptions">
    <form ng-submit="$ctrl.setSelection()">
      <p>Select the independent variable</p>
      <div class="row">
      <div class="three columns" ng-repeat="variable in $ctrl.variables">
        <label class="example-send-yourself-copy">
          <input type="radio" name="independentRadio" ng-value="variable.name" ng-model="$ctrl.independent">
          <span class="label-body">{{variable.name}}</span>
        </label>
      </div>
      </div>
      <br>
      <p ng-if="$ctrl.showOptions">Select the dependent variables</p>
      <div class="row">
      <div class="three columns" ng-repeat="var in $ctrl.variables | filter:$ctrl.dependentFilter" ng-if="$ctrl.independent">
        <label class="example-send-yourself-copy">
          <input type="checkbox" ng-model="var.dependent">
          <span class="label-body">{{var.name}}</span>
        </label>
      </div>
      </div>

      <button type="submit">Submit</button>
    </form>
  </div>
</div>
