body{
  background-color: #D2B48C;
}

button{
  background-color: #04ADDD;
}

.tanButton{
  background-color:#D2B48C;
}

a{
  float:left;
}

.highlight{
  background-color: red;
  color:white;
}

.highlightgreen{
  background-color: green;
}
